.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.button {
    min-width: 40px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #303030;
    transition: all 0.2s;
    color: #303030;
    background-color: white;
    border-left: none;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.active {
    background: #303030;
    color: white;
    cursor: default;
}

button:disabled {
    opacity: 0.5;
    cursor: default;
}

.firstPageButton {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #303030;
}

.lastPageButton {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}