.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rgba(30, 30, 30, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}

.button:hover {
    background-color: rgba(30, 30, 30, 0.8);
}

@media (width <=768px) {
    .button {
        font-size: 14px;
    }
}