.details {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
    min-width: 200px;
    height: 100%;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.poster {
    display: flex;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.otherInfo {
    display: flex;
    justify-content: space-between;
}

.title {
    color: #080423;
    font-size: 30px;
}

.description {
    font-size: 18px;
}

.year, .country, .genres, .length, .person {
    color: #7A7A7A;
    font-size: 18px;
}

.rating {
    color: rgb(255, 211, 51);
}

.persons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.similar {
    display: flex;
    flex-direction: column;
}

.similarTitle {
    margin-bottom: 10px;
    font-size: 24px;
}

@media (width <= 768px) {
  .details {
    flex-direction: column;
    align-items: center;
  }
}