.details {
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-width: 200px;
    height: 100%;
}

.poster {
    display: flex;
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* .info {

} */

.otherInfo {
    display: flex;
    justify-content: space-between;
}

.title {
    color: #080423;
}

.year {
    color: #15151547;
}

.rating {
    color: #FFD233;
}