.categories {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: left;
    flex-wrap: wrap;
}

.button {
    background-color: white;
    color: rgba(30, 30, 30, 1);
    border: 1px solid rgba(30, 30, 30, 1);
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}

.button:hover {
    background-color: rgba(30, 30, 30, 0.2);
}

.active {
    background-color: rgba(30, 30, 30, 0.8);
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.active:hover {
    background-color: rgba(30, 30, 30, 0.8);
}