.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 10px;
    border: none;
    margin-bottom: 30px;
    background-color: rgba(30, 30, 30, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(30, 30, 30, 0.8);
    transition: all 0.3s ease;
}