.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.button {
    min-width: 40px;
    height: 30px;
    cursor: pointer;
    border: 1px solid rgba(30, 30, 30, 0.5);
    transition: all 0.2s;
    color: rgba(30, 30, 30, 0.8);
    background-color: white;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: rgba(30, 30, 30, 0.2);
}

.active {
    background-color: rgba(30, 30, 30, 0.8);
    border: 1px solid rgba(30, 30, 30, 0.8);
    color: white;
    cursor: default;
}

.active:hover {
    background-color: rgba(30, 30, 30, 0.8);
}

button:disabled {
    opacity: 0.5;
    cursor: default;
}

.firstPageButton {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(30, 30, 30, 0.5);
}

.lastPageButton {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}