.card {
    display: flex;
    min-width: 200px;
}

.item {
    flex-direction: row;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    gap: 20px;
}

.banner {
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.poster {
    display: flex;
    height: 300px;
    width: 200px;
    border-radius: 8px;
    transition: filter 0.3s ease;
}

.posterImage {
    object-fit: cover;
}

.noPoster {
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 30, 30, 0.5);
}

.noPosterDescription {
    color: white;
}

.poster:hover {
    cursor: pointer;
    filter: brightness(0.7);
}

.info {
    display: flex;
    flex-direction: column;
}

.itemInfo {
    gap: 10px;
}

.bannerInfo {
    justify-content: space-between;
}

.otherInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.itemTitle {
    white-space: normal;
}

.title {
    color: #080423;
    white-space: normal;
    overflow: hidden;
    max-height: 50px;
}

.description {
    white-space: normal;
}

.year, .country, .genres, .length {
    color: #7A7A7A;
}

.rating {
    color: rgb(255, 211, 51);
}

@media (width <= 768px) {
  .item {
    flex-direction: column;
    align-items: center;
  }
}