.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
    height: 100%;
}

.item {
    transition: transform 0.2s ease;
}

.item:hover {
    transform: scale(1.05);
}

.otherInfo {
    display: flex;
    justify-content: space-between;
}

.title {
    color: #080423;
}

.year {
    color: #15151547;
}

.rating {
    color: #FFD233;
}