.list {
    width: 100%;
    gap: 10px;
}

.grid {
    max-height: 800px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
}

.rowList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.columnList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 30px;
}