.section {
    height: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
}

.items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}