.items {
    display: flex;
    align-items: center;
    gap: 10px;
}

.banners {
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    grid-template-columns: repeat(5, 250px);
    justify-content: center;
    gap: 20px;

}