.gridList{
    width: 100%;
    gap: 10px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(6, 1fr);
}

.rowList {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.columnList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    min-width: 200px;
    height: 350px;
}

.item {
    min-width: 200px;
    height: 350px;
    background: linear-gradient(-90deg, #f0f0f0 0%, #707070 50%, #f0f0f0 100%);
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
}

.poster {
    width: 100%;
    height: 300px;
    background: linear-gradient(-90deg, #f0f0f0 0%, #707070 50%, #f0f0f0 100%);
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
    margin-bottom: 5px;
}

.title {
    width: 85%;
    height: 20px;
    background: linear-gradient(-90deg, #f0f0f0 0%, #707070 50%, #f0f0f0 100%);
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
    margin-bottom: 5px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 20px;
}

.year {
    width: 25%;
    background: linear-gradient(-90deg, #f0f0f0 0%, #707070 50%, #f0f0f0 100%);
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
}

.rating {
    width: 15%;
    background: linear-gradient(-90deg, #f0f0f0 0%, #707070 50%, #f0f0f0 100%);
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -135% 0%;
    }
}