.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.45);
    color: white;
    border: none;
    border-radius: 4px;
    width: 50px;
    height: 70px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.1s ease;
}

.arrow:hover {
    transform: translateY(-50%) scale(1.1);
}

.arrow.visible {
    opacity: 1;
    visibility: visible;
}

.arrow.hidden {
    opacity: 0;
    visibility: hidden;
}