.sliderSection {
    position: relative;
    width: 100%;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    z-index: 3;
}

.title,
.name,
.description {
    color: white;
}

.title {
    width: 250px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    text-align: center;
    font-size: 30px;
}

.name {
    font-size: 48px;
}

.pagination {
    width: 100%;
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    z-index: 3;
}

.navItem {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.navItem:hover {
    background-color: red;
}

.active {
    background-color: white;
}

.darkenedWrapper {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
    z-index: 2;
    border-radius: 0 0 10px 10px;
}

.skeleton {
    margin-bottom: 30px;
    min-width: 200px;
    height: 600px;
    background: linear-gradient(-90deg, #f0f0f0 0%, #707070 50%, #f0f0f0 100%);
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -135% 0%;
    }
}

@media (width <=768px) {
    .sliderSection {
        height: 300px;
    }

    .skeleton {
        height: 300px;
    }

    .title {
        width: 200px;
        font-size: 24px;
    }

    .name {
        font-size: 30px;
    }
}