.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 12px 24px;
    background-color: #303030;
    margin-bottom: 30px;
}

.title {
    font-size: 40px;
    color: white;
}

.title a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease;
}

.title a:hover {
    color: rgba(255, 255, 255, 0.8);
}