.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 12px 24px;
    background-color: #303030;
    margin-bottom: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-size: 28px;
    color: white;
}