.carouselContainer {
    position: relative;
    width: 100%;
}

.carouselTitle {
    margin-bottom: 20px;
    text-align: end;
    font-size: 16px;
}

.carousel {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carousel > ul {
    flex-wrap: nowrap;
}

.carousel::-webkit-scrollbar {
    display: none;
}