.carouselContainer {
    position: relative;
    width: 100%;
}

.carouselTitle {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    color: black;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyEnd {
    justify-content: end;
}

.carousel {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}