.carouselSection {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}

.carouselTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    color: black;
}

.carouselContainer {
    padding: 20px;
}

.carousel {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}