.carouselContainer {
    position: relative;
    width: 100%;
}

.carouselTitle {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 20px;
    color: black;
}

.carousel {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carousel > ul {
    flex-wrap: nowrap;
}

.carousel::-webkit-scrollbar {
    display: none;
}