.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 12px 24px;
    background-color: white;
    margin-top: auto;
}

.title {
    font-size: 28px;
    color: #303030;
}

.title a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease;
}

.title a:hover {
    color: rgba(30, 30, 30, 0.7);
}

.list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.list>li {
    color: gray;
}