.footer {
    display: flex;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px;
    background-color: #080423;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-size: 28px;
    color: #FF3D81;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.list>li {
    color: #FFF9F9;
}