.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 12px 24px;
    background-color: white;
    margin-top: auto;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-size: 28px;
    color: gray;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.list>li {
    color: gray;
}