.select {
    width: 100%;
    height: 50px;
    padding: 10px;
    padding-right: 40px;
    font-family: inherit;
    font-size: 16px;
    border: 1px solid rgba(30, 30, 30, 0.5);
    border-radius: 4px;
    background-color: white;
    color: rgba(30, 30, 30, 0.8);
    cursor: pointer;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='%23666' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px;
}

@media (width <=768px) {
    .select {
        font-size: 14px;
        height: 40px;
    }
}