.filters {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media (width <=800px) {
    .filters {
        flex-wrap: wrap;
    }

    .buttons {
        margin-top: 20px;
    }
}