* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", "sans-serif";
}

.container {
  margin: 0 auto;
  min-height: 100%;
  max-width: 1400px;
  padding: 30px 70px;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}