* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", "sans-serif";
}

.container {
  min-height: 100%;
  padding: 30px 60px;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}