.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eee;
}

.main {
  max-width: 1440px;
  width: 100%;
  align-self: center;
  padding: 0 10px;
  flex: 1;
}

/* Tablet */
@media (min-width: 768px) {
  .main {
    padding: 0 24px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .main {
    padding: 0 50px;
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
  .main {
    padding: 0 70px;
  }
}