.sliderSection {
    position: relative;
    width: 100%;
    height: 548px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    z-index: 1;
}

.slider {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    z-index: 3;
}

.title,
.name,
.description {
    color: white;
}

.title {
    width: 200px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    text-align: center;
}

.pagination {
    width: 100%;
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    z-index: 3;
}

.navItem {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.navItem:hover {
    background-color: red;
}

.active {
    background-color: white;
}

.darkenedWrapper {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
    z-index: 2;
    border-radius: 0 0 10px 10px;
}