.filtersSection {
    margin-bottom: 30px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.title {
    margin-bottom: 20px;
    font-size: 16px;
}